.content{
  position: relative;
  margin-top: 15%;
  text-align: center;
}

h1{
  letter-spacing: 20px;
  font-size: 110px;
  margin-bottom: 40px;
}

h5{
  margin: 30px;
  font-size: 40px;
}

span{
  color: rgba(99, 248, 0, 0.897);
}

hr{
  width: 500px;
}