.logo-img{
  background: url("../img/logo/sedan-car-front.png") no-repeat center;
  background-size: cover;
  height: 40px;
  width: 40px;
}

body .navbar{
  z-index: 100;
  box-shadow: none;
  
}

#navbarNav{
  margin-left: 30px;
  font-weight: 400;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
  color: #ff3547;
}

.intro-photo{
  background: url("../img/speed-car.jpeg") no-repeat center;
  background-size: cover;
  height: 200px;
  
}

.position-intro-photo{
  margin-top: -40px;
  z-index: 0;
}

/* Stepper-horizontal */
.section-calculation .stepper-horizontal{
  padding: 0;
}
.stepper-horizontal li:hover{
  background: none;
}

/* Style form */
form:hover{
  box-shadow: 3px 3px 13px rgba(0,0,0,0.4);
  transition: 1s;
}

form{
  transition: 1s;
}

.widht-form{
  width: 90%;
  position: relative;
  margin: auto;
}

/* Style for "What you need to know for the calculation" */
.list-need-know{
  list-style: none;
  padding-left: 0;
}

.list-need-know li{
  padding-top: 10px;
}

.list-need-know li i{
  color: #ff3547;
  font-size: 18px;
}

.list-need-know li .fa-car{
  padding-right: 15px;
}
.list-need-know li .fa-cogs{
  padding-right: 11px;
}
.list-need-know li .fa-dollar-sign{
  padding-right: 19px;
}
.list-need-know li .fa-id-card{
  padding-right: 13px;
}

.text-center{
  margin: 0;
}

.calculation-result {
  display: none;
}

.calculation-result ul{
  list-style: none;
}

/* Style modal window */
.close-modal-window{
  background-color: #ff3547;
}

/* Style footer */
footer{
  position: relative;
  bottom: 0;
  width: 100%;
}