body{
  margin: 0;
  padding: 0;
  position: relative;
}

.block_center_buttons{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

#btn2{
  margin-left: 20px;
}

button{
  padding: 7px 20px 7px 20px;
  border: none;
}

.text_count{
  width: 100%;
  display: flex;
  justify-content: center;
}

.dlock_setTimeout{
  width: 100%;
}

#move_element{
  height: 50px;
  width: 50px;
  background-color: orange;
}