.smart__watch_block{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.watch-beld{
  position: relative;
  height: 400px;
  width: 120px;
  background-color: #1F1E1F;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.circle-watch{
  height: 250px;
  width: 250px;
  background-color: rgb(43, 43, 43);
  position: absolute;
  border-radius: 50%;
  border: 5px solid rgb(27, 27, 27);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.center-watch{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 105;
}

.second-arrow{
  height: 115px;
  width: 1px;
  background: linear-gradient(rgb(11, 133, 0)91%, rgb(43, 43, 43)50%);
  /* background-color: rgb(11, 133, 0); */
  position: absolute;
  margin-top: -58px;
  border-radius: 1px;
  transform-origin: 50% 100%; 
  z-index: 104;
}

.minute-arrow{
  height: 90px;
  width: 2px;
  background: linear-gradient(rgb(150, 150, 150)88%, rgb(43, 43, 43)50%);
  /* background-color: rgb(112, 112, 112); */
  position: absolute;
  border-radius: 2px;
  margin-top: -45px;
  transform-origin: 50% 100%; 
  z-index: 103;
}

.hour-arrow{
  height: 65px;
  width: 2px;
  background: linear-gradient(rgb(255, 255, 255)83%, rgb(43, 43, 43)50%);
  /* background-color: rgb(233, 233, 233); */
  position: absolute;
  border-radius: 2px;
  margin-top: -32px;
  transform-origin: 50% 100%; 
  transform: rotate(35deg);
  z-index: 102;
}

/* Style block huor */
.block-hour{
  position: relative;
  height: 100%;
  width: 100%;
}

.number-horizontally{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 23px;
  z-index: 100;
}

.number-horizontally p{
  margin-left: 11px;
  margin-right: 11px;
}

.number-vertically{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  z-index: 101;
  color: white;
  font-size: 23px;
}

.number-vertically a{
  padding: 3px 5px 3px 5px;
  color: white;
  background-color: rgb(11, 133, 0);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  border-radius: 50%;
  transition: 0.5s;
}

.number-vertically a:hover{
  transition: 0.5s;
  background-color: rgb(10, 110, 1);
}

.number-vertically p{
  margin-bottom: 9px;
}

.display-time p{
  margin: 0;
  margin-left: 2px;
}

.display-time{
  position: absolute;
  color: white;
  display: flex;
  margin-top: 40px;
  font-size: 22px;
  background-color: rgba(30, 30, 31, 0.86);
  padding: 3px 6px 3px 6px;
}

/* Style Menu Button */
.menu-block{
  position: fixed;
  display: flex;
  align-items: center;
  right: 30%;
}

.menu-btn{
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(226, 225, 225);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
  z-index: 200;
}

span,
span::before,
span::after{
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 15px;
  width: 20px;
  height: 2px;
  background-color: rgb(43, 43, 43);
}

span::before,
span::after{
  content: '';
  left: 0;
  transition: 0.3s;
}

span::before{
  transform: translateY(-7px);
}

span::after{
  transform: translateY(7px);
}

.menu-btn-active span{
  height: 0;
}

.menu-btn-active span::before{
  transform: rotate(45deg);
}

.menu-btn-active span::after{
  transform: rotate(-45deg);
}

/* Style menu button. Controller timer */
.btn-position{
  position: absolute;
  width: 33px;
  height: 33px;
  right: 8px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(226, 225, 225);
  color:rgb(11, 133, 0);
  transition: .5s
}

.btn-position i{
  padding-top: 8px;
}

.btn-position:hover{
  background-color: rgb(167, 167, 167);
}

.menu__block a:nth-child(2){
  transition-delay: 0.1s;
}

.menu__block a:nth-child(3){
  transition-delay: 0.2s;
}

.menu__block a:nth-child(4){
  transition-delay: 0.2s;
}

.menu__active a:nth-child(2){
  transform: translate(150%, 0%);
}

.menu__active a:nth-child(3){
  transform: translate(110%, 110%);
}

.menu__active a:nth-child(4){
  transform: translate(0%, 150%);
}